:root {
	--primary-color: #007bff;
}

/* Global Stylings */

label {
	display: block;
	margin-bottom: 0.5rem;
}

input {
	display: block;
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ccc;
	border-radius: 0.25rem;
}

.width-50 {
	width: 50%;
}

.ml-auto {
	margin-left: auto;
}

.text-center {
	text-align: center;
}

.btns-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

/* Progressbar */

.progressbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	counter-reset: step;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 0.3rem;
	margin-bottom: 4rem;
}

.progressbar::before,
.progress {
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	background-color: #dcdcdc;
	z-index: -1;
}

.progress {
	background-color: var(--primary-color);
	width: 0%;
	transition: 0.3s;
}

.progress-step {
	width: 2.1875rem;
	height: 2.1875rem;
	background-color: #dcdcdc;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.progress-step::before {
	counter-increment: step;
	content: counter(step);
}

.progress-step::after {
	content: attr(data-title);
	position: absolute;
	top: calc(100% + 0.5rem);
	font-size: 0.9rem;
	color: #000;
	text-align: center;
}

.progress-step-active {
	background-color: var(--primary-color);
	color: #f3f3f3;
}

/* Form */

.form {
	width: clamp(620px, 30%, 430px);
	margin: 0 auto;
	border-radius: 0.35rem;
	padding: 1.5rem;
}

.form-step {
	display: none;
	transform-origin: top;
	animation: animate 0.5s;
}

.form-step-active {
	display: block;
}

.input-group {
	margin: 2rem 0;
}

.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
.custom-checkbox > [type="checkbox"]:checked + label:before {
	border: 1px solid #000;
	background: #fff;
}

.custom-radio > [type="radio"]:not(:checked) + label:before,
.custom-radio > [type="radio"]:checked + label:before {
	border: 1px solid #000;
	background: #fff;
}

.form-control::placeholder {
	color: #575757;
}

.form-control:-ms-input-placeholder {
	color: #575757;
}

.form-control::-ms-input-placeholder {
	color: #575757;
}

@keyframes animate {
	from {
		transform: scale(1, 0);
		opacity: 0;
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}

@media only screen and (max-width: 369px) {
	.progress-step::after {
		content: "";
	}
	.form {
		width: clamp(300px, 30%, 430px);
	}
}

@media only screen and (min-width: 370px) and (max-width: 419px) {
	.progress-step::after {
		content: "";
	}
	.form {
		width: clamp(350px, 30%, 430px);
	}
}

@media only screen and (min-width: 420px) and (max-width: 650px) {
	.progress-step::after {
		font-size: 12px;
	}
	.form {
		width: clamp(400px, 30%, 430px);
	}
}

